body{
	background: url(http://img10.deviantart.net/e898/i/2012/213/6/0/background_pinkie_pie_version2_1920x1080_by_rariedash-d59es18.jpg);
	background-size: cover;
}
div{
}
h1{
	color: navy;
}
li{
	color: rgb(0, 0, 0);
}
.special{
	text-decoration: blink;
}